{% extends "base.html" %}
{% block content %}

<h1 style="font-size:2.5em">Other places on the INFORMATION SUPERHIGHWAY</h1>

  <div id="Intro">
    <p style="text-align:center;">A link dump in no particular order.</p>
  </div>

  <div id="stuff">
    <h3>Cool stuff</h3>
    <ul>
      <li><a href="https://github.com/EnterpriseQualityCoding/FizzBuzzEnterpriseEdition">Enterprise FizzBuzz</a></li>
    </ul>
  </div>

  <div id="Misc">
    <h3>Miscellaneous websites</h3>
    <ul>
      <li>PSA The <a href="http://marsprogram.jpl.nasa.gov/MPF/rover/sojourner.html">original Sojourner Rover website</a> from 1996-1997 is still up.</li>
      <li>The <a href="http://norvig.com/LI2/">coolest lab</a></li>
    </ul>
  </div>

<br>
{% endblock %}

